#homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#boardFrame {
  /*max-width: 800px;*/
  width: 99vw;
  /*max-height: 400px;*/
  height: 80vh;
  overflow: scroll;
  /*margin-left: 100%;
margin-right: 100%;*/
}
#cartFrame{
  width: 99vw;
  overflow: scroll;
  height: 15vh;

}
#cartStyle {
  max-width: 10vw;
  width: 10vw;
  max-height: 3vw;
}

#statistics{
  max-width: 10vw;
  width: 10vw;
  max-height: 3vw;
}
#statsFrame{
  height: 5vh
}
